

header{
    width:1000px;
    margin: auto;
}

section{
    width: 1000px;
    margin: auto;    
}


.odair{
       color:deepskyblue;
       font-size: 50px;
       font-family:fantasy;
       text-align:center;
       
}
    
.tabla_1{
    text-align: center;
    background-color: firebrick;
    color:white;
    padding: 15px 0px 0px 0px;
    font-size: 20px;
}

.subtitulo_1{
    text-align: center;
    background-color: midnightblue;
    color:white;
}

.subtitulo_2{
    text-align: center;
    background-color: black;
    color:deepskyblue;
}

.subtitulo_3{
    text-align: center;
    background-color: midnightblue;
    color: deeppink;
}

.subtitulo_4{
    text-align: center;
    background-color: black;
    color: white;
}

    


.tabla{
       margin: 15px 0px 15px 0px;
}

h3{
    font-size: 18px;
    background-color: #96E8D1;
    width: 23%;
    text-align: center;  
}

.inicio{
    color: #B0D9D1;
}

.html{
    width: 200px;
}  

.imagenes{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
    

